@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  /* Brand Colors */
  --color-ipnu-primary: var(--ipnu-primary);
  --color-ipnu-secondary: var(--ipnu-secondary);
  --color-ippnu-primary: var(--ippnu-primary);
  --color-ippnu-secondary: var(--ippnu-secondary);
  --color-nu-gold: var(--nu-gold);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  /* IPNU: Dark Emerald & Gold */
  --ipnu-primary: #004d25;
  --ipnu-secondary: #065f46;

  /* IPPNU: Vivid Green & Yellow */
  --ippnu-primary: #10b981;
  --ippnu-secondary: #059669;

  /* Shared */
  --nu-gold: #fbbf24;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}